<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <system.web>
    <!-- Debug ALTIJD op false zetten in productie!! -->
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>

  <appSettings>
    <!-- Database server Settings -->
    <add key="DSN" value="user id=DBA_ING; password=0pti$$ING@SECURE; initial catalog=DB_ING; server=dbhost_ing" />

    <!-- App Settings -->
    <add key="Encoding" value="ISO-8859-1" />
    <add key="MaxContentLength" value="10000000" />
    <add key="showDebugInfo" value="false" />
    <add key="LOGFILE" value="D:\Webs\promo.ing.be\_Templates\Contest\Logging\logging.txt" />

    <!-- Language Settings -->

    <add key="languagesToSet" value="EN|FR|NL" />
    <add key="defaultLanguage" value="EN" />
    <add key="languageInSession" value="promo.ing.be_landingtemplate_language" />

    <!-- Assetloader Settings-->
    <add key="assetLoaderServicePath" value="AssetsLoader/AssetsLoader.ashx" />

    <!-- SIM Settings -->
    <add key="Optiextension_url" value="https://staging.promo.ing.be/optiext/optiextension.dll" />
    <add key="ErrorPage_url" value="https://promo.ing.be/error/" />

    <add key="campaignId" value="7671" />
    <add key="listId" value="2709" />
    <add key="actionId" value="2" />
    <add key="probeId" value="0" />

    <!-- Media Settings -->
    <add key="MediaPath" value="https://staging.promo.ing.be/media/styleguide/contest/1.0/" />
    <add key="MediaPathLanding" value="https://staging.promo.ing.be/media/Styleguide/landing/2.1/" />

    <!-- Tagging Settings -->
    <add key="AdobeTaggingLocation" value="https://www.at.ing.be/static/TM/" />
    <add key="AdobeDtm" value="https://www.at.ing.be/static/dtm/dcd6ca01117606069e6437d0b4d00bb48f594a25/satelliteLib-9c1b5720bd68d7959813ad2ac4e25efea33297d1.js\" />
    <add key="trackingEnvPrefix" value="www.at" />

    <!-- Caching Settings -->
    <add key="cache_time_settings" value="60" />
    <add key="cache_time_rates" value="60" />
    <add key="AssetsCachingCampaign" value="LandingspageTemplate" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AntiXssLibrary" publicKeyToken="D127EFAB8A9C114F" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>